body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll; /* Always show vertical scrollbar */
    overflow-x: hidden;
}

.nav-bar {
    background-color: #222;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}


.logo {
    font-size: 28px;
    font-weight:bolder
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.nav-links li a.active {
    color: #ff5e14; 
}

.nav-links li a:hover {
    color: #ff5e14;
}

.nav-links li i:hover {
    color: #ff5e14;
   
}



/* about us section */

.about {
    display: grid;
    grid-template-columns: 50% 50%;
    gap:10px;
}

.about-image img{
    height:550px;
    width: 550px;
    margin-top: 100px;
    margin-right: 50px;
    }

.about-content h2{
    color: #ff5e14;
    margin-top: 200px;
    margin-left: 180px;
    margin-bottom: 15px;
    font-weight:900;
    font-size:40px;
}

.about-content p {
    position: absolute;
    margin-left: 180px;
    max-width: 550px;
    font-size: 18px;
    line-height: 1.7;
    color: #444242;
}
.about-content a {
    margin-left: 180px;
    margin-top: 210px;
}

.buttons {
    display: inline-block;
    background: #222;
    color: #fff;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

/* Gallery Section */

.gallery {
    margin-top: 90px;
}

.gallery h2{
    text-align: center;
    color: #ff5e14;
    font-weight:900;
    font-size:40px;
}

.gallery p{
    text-align: center;
    color: #444242;
    font-size: 18px;
    margin-top: 25px;
    margin-left: 180px;
    margin-right: 180px;
    line-height: 1.5;
}

.gallery-photos {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 30px;
        justify-content: center;
        margin-top: 50px;
}

.gallery-image img{
    width: 350px;
    height: 350px;
}

.gallery-image {
    position: relative;
    display: inline;
    overflow: hidden;
}

.gallery-image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.6); 
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.gallery-image:hover .overlay {
  opacity: 1;
}

.gallery-image .overlay i {
  font-size: 40px;
  color: #333;
}



.gallery .buttons{
    margin-top: 30px;
    margin-left: 45%;
    margin-bottom: 80px;
}

.gallery-image:hover {
    color: white;
}

/* Service Section */

.services {
    position: relative;
    background: url(services-bg.png);
    background-repeat: no-repeat;
    background-size:cover;
    overflow: hidden;
    height: 100vh;
}

.services h2{
    color: white;
    text-align: center;
    margin-top: 100px;
    font-weight:900;
    font-size:40px;
    margin-bottom: 10px;
}

.services p {
    color: white;
    text-align: center;
    font-size: 18px;
}

.services-card {
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    justify-content: center;
    margin-top: 50px;

}

.cards img {
    width:50px;
    height: 50px;
    margin-top: 25px;
}


.cards {
    background-color: #fc7537;
    width: 350px;
    height: 255px;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    border: none;
    color: white;
    position: relative;
    }

.cards:hover {
    background-color: white;
    color: #000;
    height: 320px;
}

.cards:hover p,
.cards:hover h3 {
  color: black;
}

.hover-buttons {
  position: absolute;
  bottom: 80px; /* stays at the bottom of the box */
  left: 50%;
  transform: translateX(-50%) translateY(20px); /* hidden below initially */
  opacity: 0;
  transition: all 0.3s ease;
  border-radius: 30px;
  color: white;
  height: 45px;
  width:150px;
  border: none;
}

.cards:hover .hover-buttons {
    opacity: 1;
    background-color: #400606;
    transform: translateX(-50%) translateY(0); /* slides up into place */
    cursor: pointer;

}

/* testimonial section */

.testimonial h1 {
    color: #ff5e14;
    margin-top: 100px;
    margin-left: 180px;
    margin-bottom: 10px; 
    font-weight:800;
    font-size:40px;
}

.testimonial p {
        margin-left: 180px;
        color: #444242;
        font-size: 18px;
        margin-bottom: 50px;
    }


    /* Quote Slider Section */

    .quoteslide {
        position: relative;
        width: 80%;
        max-width: 1000px;
        min-height: 200px;
        margin-left: 250px;
    }

     .quote {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 0;
      animation: fade 12s infinite;
    }

    .quotes-wrapper {
        position: relative;
        border-left: 3px solid #000;
        border-right: 3px solid #000;
        padding: 40px;
        box-sizing: border-box;
        border: 2px solid transparent;
        width: 100%;
        border-image: linear-gradient(to left top, black 25%, transparent 25%, transparent 75%, black 55%) ;
        /* border-image-slice: 1; */
    }

    

    .quote:nth-child(1) {
        animation-delay: 0s;
    }
    .quote:nth-child(2) {
        animation-delay: 3s;
    }
    .quote:nth-child(3) {
        animation-delay: 6s;
    }
    

    @keyframes fade {
      0% { opacity: 0; }
      8% { opacity: 1; }
      25% { opacity: 1; }
      33% { opacity: 0; }
      100% { opacity: 0; }
    }

    .quote h2 {
        color: #f75e2c;
        font-weight:800;
        display: inline-block;
        margin: 0;

    }

    .quote p {
        margin: 0;
        text-align: left;
        margin-top: 15px;
        line-height: 1.7;
    }

    .dots {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 150px;
    }

    .dot {
        width: 55px;
        height: 15px;
        background: #333;
        border-radius: 10px;
    }

    .dot:nth-child(1) {
        animation: dotAnim 12s infinite;
    }
    .dot:nth-child(2) {
        animation: dotAnim 12s infinite;
        animation-delay: 3s;
    }
    .dot:nth-child(3) {
        animation: dotAnim 12s infinite;
        animation-delay: 6s;
    }
    

    @keyframes dotAnim {
        0%, 8% { background: #f75e2c; }
        25%, 100% { background: #333; }
    }

    .carousel-item span{
        color: #f75e2c;
        font-weight: 1000;
        font-size: 40px; /* increase the size */
        display: inline-block;
        /* margin-top: 20px; */
    }
    .carousel-item legend {
        color: #f75e2c;
    }

   
    /* Contact us section */

    .contact h2 {
        text-align: center;
        color: #ff5e14;
        font-weight:900;
        font-size:40px;
        margin-top: 90px;
        margin-bottom: 90px;
    }

    .contacts {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .contact-image {
        background: url(img-9.png);
        background-size:cover;
        height:500px;
    }
    
    .contact-img form {
        position: absolute;
    }

    .contacts input {
        margin-left: 70px;
        width: 600px; 
        border-radius: 30px; 
        height: 60px;
        border: none;
    }

    .contacts textarea {
        margin-left: 70px;
        width: 600px; 
        border-radius: 40px; 
        height: 110px;
        border: none;
    }

    textarea::placeholder {
        padding-top: 30px;
        padding-left: 20px;
        font-size: 22px;
    }

    input::placeholder { 
        padding-left:20px;
        font-size: 20px;
    }

    .contacts .send{
        align-items: center;
        width: 150px; 
        height: 50px;
        color: white; 
        background-color: rgb(217, 65, 9);
        border-radius: 30px;
        border: none;
        margin-left: 290px;
        margin-top: 20px;
    }

    .send:hover {
        cursor: pointer;
    }
    


   
    .footer{
        display: grid;
        grid-template-columns: auto auto auto auto;
        background-color: #222;
        color: #fff;
        justify-content: space-between;
        align-items: center;
        padding: 30px 200px;
        height: 350px;
    }

    .about-footer p {
        line-height: 1.5;
    }

    .about-footer h2 {
        margin-top: 50px;

    }
    .menu-footer ul {
        list-style-type: none;
        padding: 0;  
        margin: 0;  
        line-height: 1.5;
    }

    .menu-footer ul a {
        text-decoration: none;
        color: white;
    }

    .menu-footer ul li a:hover {
        color: #f75e2c;
    }

    .useful-link ul {
        list-style-type: none;
        padding: 0;  
        margin: 0; 
        line-height: 1.5;
    }

    .contact-footer p:hover {
        color: #f75e2c;

    }


    /* end footer */

    .endfooter p {
        text-align: center;
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 20px;
        color: #333;
    }



    


