body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll; /* Always show vertical scrollbar */
    }

.navbar {
    background-color: #222;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.logo {
    font-size: 28px;
    font-weight:bolder
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.nav-links li a.active {
    color: #ff5e14; 
}

.nav-links li a:hover {
    color: #ff5e14;
}

.nav-links li i:hover {
    color: #ff5e14;
   
}



/* sliding section */

.mainslide {
    position: relative;
    background: url(banner-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    display: flex;
    align-items: center;
    padding: 0 50px;
}

.mainslide-content {
    max-width: 600px;
}

.mainslide-content h1 {
    font-size: 60px;
    font-weight: 300;
    color: #222;
}

.mainslide-content h2 {
    font-size: 70px;
    font-weight: 700;
    margin: 10px 0;
    color: #fff;
}

.mainslide-content p {
    font-size: 18px;
    line-height: 1.6;
    margin: 20px 0;
    max-width: 500px;
    color: white;
}

.btn {
    display: inline-block;
    background: #222;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.slider-arrows {
    position: absolute;
    bottom: 50px;
    left: 50%;
}

.arrow {
    background: #fff;
    color: #222;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 20px;
    align-items: center;
}

/* about us section */

.about {
    display: grid;
    grid-template-columns: 50% 50%;
    gap:10px;
}

.about-image img{
    height:550px;
    width: 550px;
    margin-top: 100px;
    margin-right: 50px;
    }

.about-content h2{
    color: #ff5e14;
    margin-top: 200px;
    margin-left: 180px;
    margin-bottom: 15px;
    font-weight:900;
    font-size:40px;
}

.about-content p {
    position: absolute;
    margin-left: 180px;
    max-width: 550px;
    font-size: 18px;
    line-height: 1.7;
    color: #444242;
}
.about-content a {
    margin-left: 180px;
    margin-top: 210px;
}

/* Gallery Section */

.gallery {
    margin-top: 90px;
}

.gallery h2{
    text-align: center;
    color: #ff5e14;
    font-weight:900;
    font-size:40px;
}

.gallery p{
    text-align: center;
    color: #444242;
    font-size: 18px;
    margin-top: 25px;
    margin-left: 180px;
    margin-right: 180px;
    line-height: 1.5;
}

.gallery-photos {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 30px;
        justify-content: center;
        margin-top: 50px;
}

.gallery-image img{
    width: 350px;
    height: 350px;
}

.gallery-image {
    position: relative;
    display: inline;
    overflow: hidden;
}

.gallery-image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.6); 
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.gallery-image:hover .overlay {
  opacity: 1;
}

.gallery-image .overlay i {
  font-size: 40px;
  color: #333;
}



.gallery .btn{
    margin-top: 30px;
    margin-left: 45%;
    margin-bottom: 80px;
}

.gallery-image:hover {
    color: white;
}


/* Service Section */

.services {
    position: relative;
    background: url(services-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}

.services h2{
    color: white;
    text-align: center;
    margin-top: 100px;
    font-weight:900;
    font-size:40px;
    margin-bottom: 10px;
}

.services p {
    color: white;
    text-align: center;
    font-size: 18px;
}

.services-card {
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    justify-content: center;
    margin-top: 50px;

}

.card img {
    width:50px;
    height: 50px;
    margin-top: 25px;
}


.card {
    background-color: #fc7537;
    width: 350px;
    height: 255px;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    border: none;
    color: white;
    }

.card:hover {
    background-color: white;
    color: #000;
    height: 450px;
}





/* testimonial section */

.testimonial h1 {
    color: #ff5e14;
    margin-top: 100px;
    margin-left: 180px;
    margin-bottom: 10px; 
    font-weight:800;
    font-size:40px;
}

.testimonial p {
        margin-left: 180px;
        color: #444242;
        font-size: 18px;
        margin-bottom: 50px;
    }


    /* Quote Slider Section */

    .slide {
        position: relative;
        width: 80%;
        max-width: 1000px;
        min-height: 200px;
        margin-left: 250px;
    }

     .quote {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 0;
      animation: fade 12s infinite;
    }

     .quotes-wrapper {
      position: relative;
      border-left: 3px solid #000;
      border-right: 3px solid #000;
      padding: 40px;
      box-sizing: border-box;
    }

    .quote:nth-child(1) {
        animation-delay: 0s;
    }
    .quote:nth-child(2) {
        animation-delay: 3s;
    }
    .quote:nth-child(3) {
        animation-delay: 6s;
    }
    

    @keyframes fade {
      0% { opacity: 0; }
      8% { opacity: 1; }
      25% { opacity: 1; }
      33% { opacity: 0; }
      100% { opacity: 0; }
    }

    .quote h2 {
        color: #f75e2c;
        font-weight:800;
        display: inline-block;
        margin: 0;

    }

    .quote p {
        margin: 0;
        text-align: left;
        margin-top: 15px;
        line-height: 1.7;
    }

    .dots {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 150px;
    }

    .dot {
        width: 55px;
        height: 15px;
        background: #333;
        border-radius: 10px;
    }

    .dot:nth-child(1) {
        animation: dotAnim 12s infinite;
    }
    .dot:nth-child(2) {
        animation: dotAnim 12s infinite;
        animation-delay: 3s;
    }
    .dot:nth-child(3) {
        animation: dotAnim 12s infinite;
        animation-delay: 6s;
    }
    

    @keyframes dotAnim {
        0%, 8% { background: #f75e2c; }
        25%, 100% { background: #333; }
    }


    /* Contact us section */

    .contact h2 {
        text-align: center;
        color: #ff5e14;
        font-weight:900;
        font-size:40px;
        margin-top: 90px;
        margin-bottom: 90px;
    }

    .contacts {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .contact-image {
        background: url(img-9.png);
        background-size:cover;
        height:760px;
    }
    
    .contact-img form {
        position: absolute;
    }

    input {
        margin-left: 70px;
        width: 600px; 
        border-radius: 25px; 
        height: 40px;
    }

    input::placeholder { 
        padding-left:20px;
    }
   
    .footer{
        display: grid;
        grid-template-columns: auto auto auto auto;
        background-color: #222;
        color: #fff;
        justify-content: space-between;
        align-items: center;
        padding: 30px 200px;
        height: 350px;
    }

    .about-footer p {
        line-height: 1.5;
    }

    .menu-footer ul {
        list-style-type: none;
        padding: 0;  
        margin: 0;  
    }

    .useful-link ul {
        list-style-type: none;
        padding: 0;  
        margin: 0;  

    }

    .endfooter p {
        text-align: center;
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 20px;
        color: #333;
    }



    

